body {
  width: 100%;
  overflow-x: hidden;
}
.home-banner {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 50%,
    rgba(45, 178, 253, 1) 100%
  );
}
.content-pos {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  width: 100%;
  position: absolute;
}
.banner-right-image img {
  width: 90%;
}
/* .content-layout .left {
  width: 60%;
  float: left;
}
.content-layout .right {
  float: right;
  width: 40%;
}
.content-layout:nth-child(even) .right {
  float: left !important;
  background-color: red;
  width: 40% !important;
}
.content-layout:nth-child(even) .left {
  float: right !important;
  background-color: red;
  width: 60% !important;
} */
